- provide(:title, "Service")
%nav.navbar.nav-sort.navbar-expand-md
  .container
    .row
      %button.navbar-toggler.nav-button-2{"data-target" => "#collapsibleNavbar2", "data-toggle" => "collapse", :type => "button"}
        %i.fas.fa-bars
      #collapsibleNavbar2.collapse.navbar-collapse
        %ul.navbar-nav
          .col-lg-3.text-left
            %li.nav-item.dropdown
              %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                CATEGORY
                %i.fas.fa-angle-down{:style => "color: #ff9900"}
              .dropdown-menu
                %a.dropdown-item{:href => "#"} Breakfast
                %a.dropdown-item{:href => "#"} Lunch
                %a.dropdown-item{:href => "#"} Dinner
          .col-lg-3
            %li.nav-item.dropdown
              %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                SORTING
                %i.fas.fa-angle-down{:style => "color: #ff9900"}
              .dropdown-menu
                %a.dropdown-item{:href => "#"} Entrees
                %a.dropdown-item{:href => "#"} Second Courses
                %a.dropdown-item{:href => "#"} Salads
                %a.dropdown-item{:href => "#"} Deserts
          .col-lg-3
            %li.nav-item.dropdown
              %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                VEGETARIAN
                %i.fas.fa-angle-down{:style => "color: #ff9900"}
              .dropdown-menu
                %a.dropdown-item{:href => "#"} Entrees
                %a.dropdown-item{:href => "#"} Second Courses
                %a.dropdown-item{:href => "#"} Salads
                %a.dropdown-item{:href => "#"} Deserts
          .col-lg-3
          %li.nav-item.dropdown
            .col-lg-3
              %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "color: black"}
                PRICE
          .col-lg-6.col-md-8
            %li.nav-item.dropdown
              %form
                %div{"data-role" => "rangeslider"}
                  %input#range-1a{"data-popup-enabled" => "false", "data-show-value" => "false", :max => "100", :min => "0", :name => "range-1a", :type => "range", :value => "40"}/
                  %input#range-1b{"data-popup-enabled" => "false", "data-show-value" => "false", :max => "100", :min => "0", :name => "range-1b", :type => "range", :value => "80"}/
%br/
.container.text-center
  .row.row-top
    .card.col-sm-3.zoom.start
      %img.card-img-top{:alt => "Card image", :src => "http://miapasta.com/wp-content/themes/miapasta/images/menu/carbonara.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Pasta Carbonara
        %p.card-text.description Second Courses
        %p.card-text.price $9.00
    .card.col-sm-3.zoom
      %img.card-img-top{:alt => "Card image", :src => "http://www.canisiusstroop.nl/en/wp-content/uploads/2016/03/34981064_l.png", :style => "size:130%"}/
      .card-body
        %h4.card-title Steak
        %p.card-text.description Second Courses
        %p.card-text.price $25.00
    .card.col-sm-3.zoom
      %img.card-img-top{:alt => "Card image", :src => "https://www.eatthe80.com/content/uploads/media/images/site/plate.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Chicken Special
        %p.card-text.description Second Courses
        %p.card-text.price $18.00
    .card.col-sm-3.zoom.end
      %img.card-img-top{:alt => "Card image", :src => "https://www.pizzahut.com.cy/uploads/images/menu/lasagne%20bites_bolognaise_1443589071.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Lasagna
        %p.card-text.description Second Courses
        %p.card-text.price $20.00
  .row.row-bottom
    .card.col-sm-3.zoom.start
      %img.card-img-top{:alt => "Card image", :src => "http://pngimg.com/uploads/pasta/pasta_PNG96.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Pasta Prosciutto
        %p.card-text.description Second Courses
        %p.card-text.price $12.00
    .card.col-sm-3.zoom
      %img.card-img-top{:alt => "Card image", :src => "http://eatcaulipower.com/sites/default/files/product-images/Pizza-Margherita_1.png", :style => "size: 80%"}/
      .card-body
        %h4.card-title Pizza Margherita
        %p.card-text.description Pizza
        %p.card-text.price $17.00
    .card.col-sm-3.zoom
      %img.card-img-top{:alt => "Card image", :src => "https://www.readypac.com/wp-content/uploads/2016/04/RP_Classic_Caesar_Kit_OH_Crop-550x550.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Caesar Salad
        %p.card-text.description Salads
        %p.card-text.price $14.00
    .card.col-sm-3.zoom.end
      %img.card-img-top{:alt => "Card image", :src => "https://zubuchon.com/wp-content/themes/ZubuChon/images/menu/soups/kalabasa-soup.png", :style => "width:100%"}/
      .card-body
        %h4.card-title Legumes Soup
        %p.card-text.description Entrees
        %p.card-text.price $7.00
  %br/
