- provide(:title, 'All users')
= render 'partials/navbar'
.jumbotron.text-center.jumbotron-wrapper
  %h1 All Users
  %i.fas.fa-utensils
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit
.container.users-container
  %ul.users
    = render @users
.container.container-paginate
  .row
    .col-md-4
    .col-md-4
      = will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
    .col-md-4
= render 'partials/footer'
