.jumbotron {
    margin-bottom: 0px;
    background: transparent;
    color:white;
    text-shadow: 2px 2px 4px gray;
    padding-top: 100px;
}
  
.jumbotron img {
    width: 80%;
    height: auto;
}

.h1 {
    padding-top: 30px;
}