$gray-lighter: #D3D3D3;

.user-container {
  padding-top: 40px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;

    a {
      color: black;
    }

    a:hover {
      color: #ff9900;
    }
  }
}

.users-container {
  padding-top: 100px;
  padding-bottom: 40px;

  h1 {
    text-align: center;
  }
}

.pagination {
  a {
    color: #ff9900;
  }

  a:hover {
    color: #ff9900;
  }
}
